* {
  box-sizing: border-box;
}
body {
  background-color: #F7F7F7;
  padding: 15px;
  font-family: 'Inter', sans-serif;
}
.page-wrapper {
  max-width: 375px;
  margin: auto;
  background: #F7F7F7;
  box-shadow: 0px 0px 30px rgba(129, 129, 129, 0.25);
  border-radius: 20px;
  overflow: hidden;
}
.container {
  max-width: 300px;
  margin: auto;
}
.header {
  color: #fff;
  padding: 40px 42px 145px;
  background: url('../img/header-bg.png') no-repeat center / cover ; border-radius: 0px 0px 75px 75px;
}
.hello {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.hello-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.user {
  margin-top: -79px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding-bottom: 20px;
}
.user-avatar {
  margin-top: -44px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #FFFEFE;
}
.user-name {
  margin-top: 10px;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.user-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
color: #686868;
margin-top: 4px;
}